:root{
    --violet-doux:color#6c63FF;
    --violet-fonce:color#534EDD;
    --orage-fonce:color#FFA726;
    --gris-tres-fonce:color#333;
    --gris-fonce:color#666;
    --gris-tres-claire:color#F8F8F8;
    --gris-claire:color#EEE;
}

*{
    border: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: var(--gris-tres-claire);
    font-family: Roboto, sans-serif;
    line-height: 1.6;
}

header{
    background-color: white;
    box-shadow: 2px 6px 10px rgba(0, 0, 0, 0.05);
    position: sticky;
    top: 0;
    z-index: 100;
    display: flex; 
    justify-content: space-between;
    align-items: center;
    padding: 2rem 3rem;
}

header div a{
    text-decoration: none;
    font-size: 2.2rem;
    font-weight: bold;
    color: var(--violet-doux);
}